- 调试代码
- 字符串
    - 一般操作
    - format

# 新同学进来 敲6

## Miracle/小胖

## MagCore 系列 
---
宇宙第一公开课

In [2]:
s = 'a'

In [3]:
s = "a"

In [5]:
s = '''
a

sadf

sdfggg
'''

In [7]:
'''
我是小胖
不能说啪啪啪
'''

# 我是小胖

'\n我是小胖\n不能说啪啪啪\n'

In [8]:
s = '''
s'a"b
'''

In [13]:
mysql_conn = r"host=x.x.x.x;port=3306;user=miracle;password=\tba"

In [14]:
mysql_conn

'host=x.x.x.x;port=3306;user=miracle;password=\\tba'

In [27]:
mysql_conn[0:6] # 左闭右开

'host=x'

In [29]:
mysql_conn[0:6:3] # 左闭右开

'ht'

In [30]:
l = [1 ,2 ,3]

In [31]:
l

[1, 2, 3]

In [32]:
l[1] = 'a'

In [33]:
l

[1, 'a', 3]

In [34]:
mysql_conn[0] = '0'

TypeError: 'str' object does not support item assignment

In [35]:
mysql_conn

'host=x.x.x.x;port=3306;user=miracle;password=\\tba'

In [37]:
c_conn = mysql_conn

In [52]:
'{}{}'.format('asdf')

IndexError: tuple index out of range

In [51]:
'{1}{0}{2}'.format(1,2)

IndexError: tuple index out of range

In [50]:
'{name}{age}{sex}'.format( age=18, name='Miracle')

KeyError: 'sex'

In [54]:
'{name}{age}{sex}{name}'.format( sex='M',age=18, name='Miracle')

'Miracle18MMiracle'

In [65]:
'{1}{0}{1}'.format(1,2, 3,4,5)

'212'

In [57]:
'a' + 'c'+ 'b'

'acb'

In [60]:
name = 'Miracle'
age = 18
sex = 'M'
'{name}{age}{sex}{name}'.format( sex=sex,age=age, name=name)
'{}{}{}'.format( sex,age, name)

'M18Miracle'

In [62]:
f'{name} age: {age}, sex is {sex}'

'Miracle age: 18, sex is M'

In [63]:
l

[1, 'b', 3]

In [64]:
l[10]

IndexError: list index out of range

## 练习

1. 杨辉三角第n行第k列的值