# 字符串及其操作

字符串是集合类型

#### 定义

In [2]:
s = 'hello world' # 一个单/双引号只能定义单行字符串

In [3]:
s = "papapa"

In [4]:
s = '''i like xxx''' # 三引号可以定义多行字符串

In [5]:
s = """i love miracle young"""

In [6]:
s = '''
这里我想要表达的是
miracle young 老师真棒
真的厉害
我
很满意
'''

In [9]:
def usage():
    '''
    return: 字符串，解释性帮助文档
    '''
    print('''
    这里我想要表达的是
miracle young 老师真棒
真的厉害
我
很满意
    ''')

In [8]:
usage()

    这里我想要表达的是
miracle young 老师真棒
真的厉害
我
很满意

In [10]:
s = 'i love\n miracle young'

In [11]:
s

'i love\n miracle young'

In [12]:
print(s)

i love
 miracle young

In [14]:
s = 'i\'m miralce young'

In [15]:
print(s)

i'm miralce young

In [17]:
sql = 'select * from `table` where name = \'miracle\' and sex = \'male\' '

In [18]:
sql = '''select * from `table` where name = 'miracle' and sex = 'male'   '''

In [19]:
print(sql)

select * from `table` where name = 'miracle' and sex = 'male'

In [20]:
path = 'C:\windows\nt\system32'

In [21]:
print(path)

C:\windows
t\system32

In [27]:
path = '''C:\windows\nt\system32'''

In [28]:
print(path)

C:\windows
t\system32

In [24]:
import os

In [26]:
os.path

In [31]:
path = r'C:\windows\nt\system32'# r'' 代表字符串为一个自然字符串，不会转义

In [30]:
print(path)

C:\windows\nt\system32

In [32]:
print('\a')



In [33]:
s = r'''select * from name='miracle' '''

In [34]:
unicode_s = u'abc'

In [35]:
unicode_s

'abc'

In [36]:
type(unicode_s)

str

In [37]:
byte_s = b'abc'

In [38]:
byte_s

b'abc'

In [41]:
bin(123)

'0b1111011'

In [42]:
a = """what\tlalal"""

In [43]:
print(a)

what	lalal

In [44]:
print('\0')

 

In [46]:
print('\x17')



In [47]:
'\xA1'

'¡'

In [50]:
print('12\x0a34')

12
34

In [52]:
print('%x', 'a')

%x a

In [53]:
r'\r \t \n'

'\\r \\t \\n'

### 下标操作

In [54]:
s

"select * from name='miracle' "

In [55]:
s[3]

'e'

In [56]:
s[0]

's'

In [57]:
s[100]

IndexError: string index out of range

In [58]:
s[0] = '1' # 字符串是不可变的

TypeError: 'str' object does not support item assignment

**目前只有list是可变的，其他都是不可变的**

字符串是迭代器，是可迭代对象

In [59]:
for c in s:
    print(c)

s
e
l
e
c
t

*

f
r
o
m

n
a
m
e
=
'
m
i
r
a
c
l
e
'

In [60]:
list(s)

['s',
 'e',
 'l',
 'e',
 'c',
 't',
 ' ',
 '*',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'n',
 'a',
 'm',
 'e',
 '=',
 "'",
 'm',
 'i',
 'r',
 'a',
 'c',
 'l',
 'e',
 "'",
 ' ']

In [61]:
s.count()

TypeError: count() takes at least 1 argument (0 given)

In [63]:
s.count('e')

4

In [64]:
s.index('s')

0

### 字符串的操作

#### join

In [65]:
l = ['i', 'am',  'miracle young']

In [71]:
''.join(l) # join将传入的可迭代对象进行拼接，拼接的间隔符号由前面的字符串决定。返回拼接结果，拼接源对象并不会被修改。

'iammiracle young'

In [67]:
','.join(l)

'i,am,miracle young'

In [68]:
s = ''
for ll in l:
    s += ll + ','

In [69]:
s

'i,am,miracle young,'

In [70]:
l

['i', 'am', 'miracle young']

In [72]:
new_l = ''.join(l)

In [73]:
new_l

'iammiracle young'

#### 分割

#### split

In [76]:
s.split() # split 默认使用空格进行切割，当传入参数后，按照参数的形式作为切割符号，参数可以是任意字符串。

['i,am,miracle', 'young,']

In [75]:
s

'i,am,miracle young,'

In [77]:
s.split('#')

['i,am,miracle young,']

In [78]:
s.split(',', maxsplit=1)

['i', 'am,miracle young,']

In [79]:
s.split('miracle')

['i,am,', ' young,']

#### rsplit

In [80]:
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [83]:
'a b c d e f '.rsplit(maxsplit=2)

['a b c d', 'e', 'f']

In [84]:
'a b c d e f '.rsplit()

['a', 'b', 'c', 'd', 'e', 'f']

In [94]:
def splits(s, sep, maxsplit):
    ret = []
    tmp = []
    i = 0
    for c in s:
        if c != sep:
            tmp.append(c)
        else:
            i += 1
            ret.append(''.join(tmp))
            tmp.clear()
        if i >= maxsplit and maxsplit > 0:
            
            return ret
    return ret

In [96]:
splits('a b c  e f ', ' ', 3)

['a', 'b', 'c']

In [91]:
def rsplits(s, sep, maxsplit):
    ret = []
    tmp = []
    i = 0
    for c in s:
        if c != sep:
            tmp.append(c)
        else:
            i += 1
            ret.append(''.join(reversed(tmp)))
            tmp.clear()
            if i >= maxsplit and maxsplit > 0:
                return ret
    return ret

In [92]:
rsplits('a b c  e f ', ' ', 1)

['a']

In [93]:
list([1 ,2])

[1, 2]

#### splitlines

In [97]:
s = '''
i am miracleYoung
i love my wife
'''

In [103]:
s.splitlines() # 按行分割，并且默认返回结果不带换行符，是一个list对象

['i am miracleYoung', 'i love my wife']

In [99]:
s = '''i am miracleYoung
i love my wife
'''

In [102]:
s.splitlines(True)

['i am miracleYoung\n', 'i love my wife\n']

#### partition

In [104]:
help(str.partition)

Help on method_descriptor:

partition(...)
    S.partition(sep) -> (head, sep, tail)

    Search for the separator sep in S, and return the part before it,
    the separator itself, and the part after it.  If the separator is not
    found, return S and two empty strings.

In [106]:
'i am miracle young'.partition(' ') 


# 总是返回一个三元组，（由3个元素构成的元组），
# 按照传入的分隔符分割一次，得到head，tail，返回结果是head，sep，tail

('i', ' ', 'am miracle young')

In [107]:
'i am miracle young'.rpartition(' ')

('i am miracle', ' ', 'young')

In [108]:
cfg = 'mysql.connect = mysql://user:password@127.0.0.1:3306/test'

In [109]:
cfg.partition('=')

('mysql.connect ', '=', ' mysql://user:password@127.0.0.1:3306/test')

config file , key = value

YAML
key: value
XML   <xml>

In [110]:
def partitions(s, sep):
    if s == '':
        return '', '', ''
    tmp = s.split(sep, maxsplit=1)
    if len(tmp) == 2:
        return tmp[0], sep, tmp[1]
    if len(tmp) == 1:
        return tmp[0], sep, ''
    if len(tmp) == 0:
        return '', sep, ''

In [114]:
partitions(cfg, 'fdfsdf')

('mysql.connect = mysql://user:password@127.0.0.1:3306/test', 'fdfsdf', '')

- split
- rsplit
- splitlines
- partition
- rpartition

In [116]:
a = 'myname is dailiang '
b = a.split('')

ValueError: empty separator

In [118]:
a = ['a', 'b', 'c']
b = ','.join(a)
print(b)

a,b,c

In [119]:
import copy

#### 大小写转换

In [120]:
s = 'tEsT'

In [123]:
s.upper() # 返回一个大写的对象，并且不修改原对象

'TEST'

In [122]:
s

'tEsT'

In [124]:
s.lower()

'test'

In [125]:
s.casefold()

'test'

In [126]:
s.swapcase()

'TeSt'

#### 排版

In [127]:
s.title()

'Test'

In [128]:
s = 'i am TesT UnIVersity'

In [129]:
s.title()

'I Am Test University'

In [130]:
s.capitalize()

'I am test university'

In [131]:
s.center(100)

'                                        i am TesT UnIVersity                                        '

In [132]:
ss = s.center(100)

In [133]:
len(ss)

100

In [139]:
print('a\tb'.index('\t'))

1

#### 修改

##### replace

In [140]:
help(s.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [141]:
s = 'i love miracle young'

In [142]:
s.replace('love', 'give up') # replace 返回一个新的字符串，使用new 替换old

'i give up miracle young'

In [143]:
s

'i love miracle young'

In [144]:
ss = 'i am very very very love miracle young'

In [145]:
ss.replace('very', 'not') # replace 默认有多少替换多少

'i am not not not love miracle young'

In [147]:
ss.replace('very', 'not', 2)

'i am not not very love miracle young'

##### strip

In [148]:
s = '   hahahah  haha   '

In [151]:
s.strip() # strip 返回移出后的字符串，并且不对原字符串进行修改

'hahahah  haha'

In [150]:
s

'   hahahah  haha   '

In [152]:
s = '\n \r \t haha j \t \n \r'

In [154]:
s.strip() # strip 不单单去除空格，去除一切空白字符

'haha j'

In [156]:
ss = '##haha ## haha ###'

In [158]:
ss.strip('#')

'haha ## haha '

In [159]:
sss = '{{ papa pa pa}}'

In [165]:
sss.strip('{} p') # strip 可以接收任意字符串

'apa pa pa'

In [166]:
sss.lstrip('{} p') # lstrip 只移出左边的

'apa pa pa}}'

In [168]:
sss.rstrip('{} ap') # rstrip 只移出右边的

''

##### ljust

In [169]:
s = 'test'

In [171]:
s.ljust(1)

'test'

In [172]:
s.rjust(10)

'      test'

In [174]:
s.ljust(10, '#')

'test######'

In [176]:
s.rjust(10, '#')

'######test'

In [178]:
'Mysql begin to install ...'.center(100, '#')

'#####################################Mysql begin to install ...#####################################'

In [179]:
import datetime

In [180]:
datetime.datetime.now()

datetime.datetime(2017, 5, 6, 16, 41, 38, 617466)

In [182]:
str(datetime.datetime.now().timestamp()).ljust(100, '#')

'1494060152.06897####################################################################################'

In [186]:
'a'.center(10, '##')

TypeError: The fill character must be exactly one character long

### 查找

#### find

In [188]:
s = 'i love miracle '

In [190]:
s.find('lve')

-1

In [191]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [192]:
s = 'i very very love python'

In [193]:
s.find('very')

2

In [194]:
s.find('very', 3)

7

In [196]:
s.find('very', 3, 10)

-1

In [197]:
s.rfind('very', 6)

7

In [199]:
help(str.rfind)

Help on method_descriptor:

rfind(...)
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [203]:
s.rfind('very', 0, 11)

7

##### index

In [204]:
s.index('very')

2

In [205]:
s.index('very', 0, 11)

2

In [207]:
s.index('very', 4, 7)

ValueError: substring not found

In [208]:
s.rindex('very')

7

In [210]:
s.rindex('very', 4, 7)

ValueError: substring not found

##### count

In [211]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [213]:
s.count('v')

3

In [214]:
s

'i very very love python'

In [216]:
s.count('v', 3, 8)

1

##### startswith

In [217]:
s

'i very very love python'

In [218]:
list(enumerate(s))

[(0, 'i'),
 (1, ' '),
 (2, 'v'),
 (3, 'e'),
 (4, 'r'),
 (5, 'y'),
 (6, ' '),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, ' '),
 (12, 'l'),
 (13, 'o'),
 (14, 'v'),
 (15, 'e'),
 (16, ' '),
 (17, 'p'),
 (18, 'y'),
 (19, 't'),
 (20, 'h'),
 (21, 'o'),
 (22, 'n')]

In [219]:
s.startswith('v')

False

In [220]:
s.startswith('i')

True

In [222]:
s.startswith('v', 2, 7)

True

In [223]:
s.endswith('n')

True

In [225]:
s.endswith('o', 17, 22)

True

In [226]:
s.isalnum()

False

In [228]:
s.replace(' ','').isalnum()

True

In [229]:
s.isdecimal()

False

In [231]:
s.replace(' ', '_').isidentifier()

True

In [232]:
'a_1'.isidentifier()

True

In [234]:
'1_a'.isidentifier()

False

In [235]:
s.capitalize

False

In [236]:
# format ,encode/decode

In [237]:
help(str.replace)

Help on method_descriptor:

replace(...)
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.