- 什么是大数据分析？
- Python能干嘛？
- 3招搞定大数据分析

0. 零基础
1. hello world
2. 爬虫

6. 明确知道什么是大数据分析

7. 知道个大概，糊里糊涂，说不清楚

8. 不知道

0. 学生
1. 运维
2. 测试
3. 开发

In [ ]:
ret = pandas.pagerank() # 
ret.to_csv()

我有1000份样本数据，survey，医疗，家庭病史、经济状况、职业情况

希望得到的结果是：给我一个样本数据，我就能推测出 他一年在医院看病要花费的总额

750，250

750 training， train 出能够识别csv的model来

250 checking， check 你train 出来的 model 是不是高质量的

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'])

In [6]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [8]:
class A:
    def __init__(self, a):
        self.a = a
        
    def ppp(self):
        print(self.a)

In [9]:
1 + 1

2

In [10]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [11]:
'1' + '1'

'11'

In [12]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [26]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)
    
    def __eq__(self, other):
        return self.x == other.x and self.y == other.y
    
    def add(self, other):
        return

In [27]:
p1 = Point(1, 2)
p2 = Point(3, 4)

In [ ]:
p1.add(p2)

In [28]:
p1 + p2  == Point(4, 6)

True

In [22]:
(p1 + p2).x

4

In [23]:
(p1 + p2).y

6

In [17]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [24]:
[1, 2] == [1, 2]

True

In [25]:
[1, 2] == [2, 1]

False