# 安装MySQL

使用 XAMPP 安装

# 基本SQL 语法

```sql
insert users (name, age) values ('miracle', 18)

select id, name, age from users;

update users set age=22 where name = 'young'

delete from users where name="miracle"
```

OGG报错 -> 监控触发 -> 自愈（执行python 脚本） -> 短消息（这个OGG 错 我已经处理好了）

MySQL中是autocommit的

# pymysql 、mysqldb

In [2]:
!pip install pymysql

Looking in indexes: http://mirrors.aliyun.com/pypi/simple
Collecting pymysql
  Downloading http://mirrors.aliyun.com/pypi/packages/a7/7d/682c4a7da195a678047c8f1c51bb7682aaedee1dca7547883c3993ca9282/PyMySQL-0.9.2-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 4.4MB/s ta 0:00:011
Collecting cryptography (from pymysql)
  Downloading http://mirrors.aliyun.com/pypi/packages/18/d5/7f725ac9ff162c93f67087414961b8256019527093d31e4c1fa9c377170a/cryptography-2.4.2-cp34-abi3-macosx_10_6_intel.whl (1.5MB)
    100% |████████████████████████████████| 1.5MB 12.8MB/s ta 0:00:01
Collecting idna>=2.1 (from cryptography->pymysql)
  Downloading http://mirrors.aliyun.com/pypi/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl (58kB)
    100% |████████████████████████████████| 61kB 18.8MB/s ta 0:00:01
Collecting cffi!=1.11.3,>=1.7 (from cryptography->pymysql)
  Downloading http://mirrors.aliyun.com/pypi/packages/0b/ba/32835c9965d8a0090723e1d0b47373365525c4bd08c807b5efdc9fecbc99/cffi-1.11.5-cp37-cp37m-macosx_10_9_x86_64.whl (163kB)
    100% |████████████████████████████████| 163kB 12.2MB/s ta 0:00:01
Collecting asn1crypto>=0.21.0 (from cryptography->pymysql)
  Downloading http://mirrors.aliyun.com/pypi/packages/ea/cd/35485615f45f30a510576f1a56d1e0a7ad7bd8ab5ed7cdc600ef7cd06222/asn1crypto-0.24.0-py2.py3-none-any.whl (101kB)
    100% |████████████████████████████████| 102kB 14.3MB/s a 0:00:01
Requirement already satisfied: six>=1.4.1 in /Users/miracleYoung/.pyenv/versions/3.7.0/envs/m3.7/lib/python3.7/site-packages (from cryptography->pymysql) (1.11.0)
Collecting pycparser (from cffi!=1.11.3,>=1.7->cryptography->pymysql)
  Downloading http://mirrors.aliyun.com/pypi/packages/68/9e/49196946aee219aead1290e00d1e7fdeab8567783e83e1b9ab5585e6206a/pycparser-2.19.tar.gz (158kB)
    100% |████████████████████████████████| 163kB 12.7MB/s ta 0:00:01
Installing collected packages: idna, pycparser, cffi, asn1crypto, cryptography, pymysql
  Running setup.py install for pycparser ... done
Successfully installed asn1crypto-0.24.0 cffi-1.11.5 cryptography-2.4.2 idna-2.8 pycparser-2.19 pymysql-0.9.2

In [3]:
import pymysql

In [10]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(
    host='192.168.31.246',
    user='root',
    password='123',
    db='DevOps-1',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`name`, `age`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster', 34))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `name`, `age` FROM `users` WHERE `name`=%s"
        cursor.execute(sql, ('webmaster',))
        result = cursor.fetchone()
        print(result, result['name'], result['age'])
finally:
    connection.close()

{'id': 4, 'name': 'webmaster', 'age': 34} webmaster 34

In [7]:
[1, 2,]

[1, 2]

In [19]:
connection = pymysql.connect(
    host='192.168.31.246',
    user='root',
    password='123',
    db='DevOps-1',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)

In [20]:
cur = connection.cursor()

In [22]:
cur.execute("insert users (`name`, `age`) values ('miracle', 18)")

1

In [24]:
connection.get_autocommit()

False

In [25]:
connection.commit()

In [33]:
cur.execute('select * from users where name = %s', ('webmaster',)) # 影响行数

4

In [15]:
cur.fetchall()

[{'id': 4, 'name': 'webmaster', 'age': 34},
 {'id': 5, 'name': 'webmaster', 'age': 34},
 {'id': 6, 'name': 'webmaster', 'age': 34},
 {'id': 7, 'name': 'webmaster', 'age': 34}]

In [16]:
cur.fetchall()

[]

In [17]:
cur.close()

In [18]:
connection.close()

In [27]:
cur.fetchone()

{'id': 4, 'name': 'webmaster', 'age': 34}

In [28]:
cur.fetchone()

{'id': 5, 'name': 'webmaster', 'age': 34}

In [29]:
cur.fetchone()

{'id': 6, 'name': 'webmaster', 'age': 34}

In [30]:
cur.fetchone()

{'id': 7, 'name': 'webmaster', 'age': 34}

In [31]:
cur.fetchone()

In [32]:
next(cur)

TypeError: 'DictCursor' object is not an iterator

In [34]:
cur.fetchmany()

[{'id': 4, 'name': 'webmaster', 'age': 34}]

In [35]:
cur.fetchmany(2)

[{'id': 5, 'name': 'webmaster', 'age': 34},
 {'id': 6, 'name': 'webmaster', 'age': 34}]

In [36]:
cur.fetchmany(2)

[{'id': 7, 'name': 'webmaster', 'age': 34}]

In [37]:
cur.fetchmany(2)

[]

- 默认返回1条
- 也可以指定返回行数
- 若数据不足，则全部返回
- 若数据被取完了，则返回空列表
- **fetchmany 不是 limit**

fetchmany 已经把数据取回本地了，只是一条一条回给你

fetchone 也不是limit 1

In [51]:
def get_sql_injest(value):
    sql = f'select * from users where age = {value}'
    print(sql)
    cur.execute(sql) # 影响行数
    return cur.fetchall()

In [57]:
def get_sql(value):
    sql = 'select * from users where age = %(age)s'
    print(sql)
    cur.execute(sql, {'age': value}) # 影响行数
    return cur.fetchall()

In [53]:
get_sql_injest('18 or 1 = 1')

select * from users where age = 18 or 1 = 1

[{'id': 2, 'name': 'young', 'age': 22},
 {'id': 4, 'name': 'webmaster', 'age': 34},
 {'id': 5, 'name': 'webmaster', 'age': 34},
 {'id': 6, 'name': 'webmaster', 'age': 34},
 {'id': 7, 'name': 'webmaster', 'age': 34},
 {'id': 8, 'name': 'miracle', 'age': 18}]

In [58]:
get_sql('18 OR 1 = 1')

select * from users where age = %(age)s

/Users/miracleYoung/.pyenv/versions/3.7.0/envs/m3.7/lib/python3.7/site-packages/pymysql/cursors.py:329: Warning: (1292, "Truncated incorrect DOUBLE value: '18 OR 1 = 1'")
  self._do_get_result()

[{'id': 8, 'name': 'miracle', 'age': 18}]