https://www.apachefriends.org/zh_cn/index.html

https://navicat.com.cn/download/navicat-premium

- mysql基础
    - mysql 安装
    - mysql 应用
    - sql 基础
    - sql 高阶
- pymysql
- sqlalchemy

- 安装xampp，navicat
- 打开mysql
- 使用navicat 连接mysql
- 创建demo 数据库，注意的是字符集
- 在demo数据库中创建一张user表
- 创建id，name，age字段如视频操作

- `use database`
- `insert into`的语法

- python版本兼容
- 操作系统的兼容

`pip install pymysql`

In [1]:
import pymysql

In [2]:
help(pymysql.connect)

Help on function Connect in module pymysql:

Connect(*args, **kwargs)
    Establish a connection to the MySQL database. Accepts several
    arguments:

    host: Host where the database server is located
    user: Username to log in as
    password: Password to use.
    database: Database to use, None to not use a particular one.
    port: MySQL port to use, default is usually OK. (default: 3306)
    bind_address: When the client has multiple network interfaces, specify
        the interface from which to connect to the host. Argument can be
        a hostname or an IP address.
    unix_socket: Optionally, you can use a unix socket rather than TCP/IP.
    charset: Charset you want to use.
    sql_mode: Default SQL_MODE to use.
    read_default_file:
        Specifies  my.cnf file to read these parameters from under the [client] section.
    conv:
        Conversion dictionary to use instead of the default one.
        This is used to provide custom marshalling and unmarshaling of types.
        See converters.
    use_unicode:
        Whether or not to default to unicode strings.
        This option defaults to true for Py3k.
    client_flag: Custom flags to send to MySQL. Find potential values in constants.CLIENT.
    cursorclass: Custom cursor class to use.
    init_command: Initial SQL statement to run when connection is established.
    connect_timeout: Timeout before throwing an exception when connecting.
        (default: 10, min: 1, max: 31536000)
    ssl:
        A dict of arguments similar to mysql_ssl_set()'s parameters.
        For now the capath and cipher arguments are not supported.
    read_default_group: Group to read from in the configuration file.
    compress; Not supported
    named_pipe: Not supported
    autocommit: Autocommit mode. None means use server default. (default: False)
    local_infile: Boolean to enable the use of LOAD DATA LOCAL command. (default: False)
    max_allowed_packet: Max size of packet sent to server in bytes. (default: 16MB)
        Only used to limit size of "LOAD LOCAL INFILE" data packet smaller than default (16KB).
    defer_connect: Don't explicitly connect on contruction - wait for connect call.
        (default: False)
    auth_plugin_map: A dict of plugin names to a class that processes that plugin.
        The class will take the Connection object as the argument to the constructor.
        The class needs an authenticate method taking an authentication packet as
        an argument.  For the dialog plugin, a prompt(echo, prompt) method can be used
        (if no authenticate method) for returning a string from the user. (experimental)
    db: Alias for database. (for compatibility to MySQLdb)
    passwd: Alias for password. (for compatibility to MySQLdb)

In [3]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password='', database='demo')

**游标**

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('''insert into user (name, age, type, address) values ('miracle', 18, 5, 'China');''')

1

In [6]:
conn.commit()

- 创建连接
- 获取游标
- 执行sql
- 提交事务

In [7]:
cur.close()

In [8]:
conn.close()

In [9]:
cur.execute('''insert into user (name, age, type, address) values ('miracle', 18, 5, 'China');''')

ProgrammingError: Cursor closed

In [10]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password='', database='demo')

In [11]:
cur = conn.cursor()

In [12]:
cur.execute('''insert into user (name, age, type, address) values ('miracle', 18, 5, 'China');''')

1

In [14]:
conn.commit()

In [15]:
cur.execute('''insert into user (name, age, type, address) values ('ziqi', 18, 5, 'taiwan');''')

1

In [16]:
conn.commit()

In [17]:
cur.close()

In [18]:
cur.execute('''insert into user (name, age, type, address) values ('ziqi', 18, 5, 'taiwan');''')

ProgrammingError: Cursor closed

In [19]:
cur = conn.cursor()

In [20]:
cur.execute('''select * from user where age <= 18''')

6

In [21]:
cur.fetchall()

((1, 'miracle', 18, 1, 'shanghai'),
 (126, 'ziqi', 18, 5, None),
 (130, '???', 0, 1, None),
 (132, 'miracle', 18, 5, 'China'),
 (133, 'miracle', 18, 5, 'China'),
 (134, 'ziqi', 18, 5, 'taiwan'))

In [22]:
cur.fetchall()

()

In [23]:
help(cur.fetchmany)

Help on method fetchmany in module pymysql.cursors:

fetchmany(size=None) method of pymysql.cursors.Cursor instance
    Fetch several rows

In [24]:
cur.execute('''select * from user where age <= 18''')

6

In [28]:
cur.fetchmany(1)

((132, 'miracle', 18, 5, 'China'),)

In [26]:
cur.fetchone()

(126, 'ziqi', 18, 5, None)

- `fetchmany=1` 返回一个元组，里面只有一组数据
- `fetchall` 返回的也是一个元组，只不过是全部
- `fetchone` 返回一行数据

- `fetchall` 返回的是一个元组
- `fetchmany` 返回元组，等于返回前size行数据，相当于`fetchall[:N]`
- `fetchone` 返回首行 相当于`fetchall[0]`

`fetchall`, `fetchmany`, `fetchone` 他们的差异1都是在客户端决定的

In [29]:
cur.execute('''desc user''')

5

In [30]:
cur.fetchall()

(('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(255)', 'NO', '', '', ''),
 ('age', 'int(11)', 'NO', '', '0', ''),
 ('type', 'int(2)', 'NO', 'MUL', '0', ''),
 ('address', 'varchar(255)', 'YES', '', None, ''))

In [31]:
cur.close()

In [32]:
from pymysql.cursors import DictCursor

In [33]:
cur = conn.cursor(cursor=DictCursor)

In [34]:
cur.execute('''select * from user;''')

12

In [35]:
cur.fetchall()

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 22, 'id': 124, 'name': 'magedu', 'type': 2},
 {'address': None, 'age': 25, 'id': 125, 'name': 'ck', 'type': 5},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 30, 'id': 127, 'name': '???', 'type': 3},
 {'address': None, 'age': 30, 'id': 128, 'name': '???', 'type': 6},
 {'address': None, 'age': 50, 'id': 129, 'name': '???', 'type': 2},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'US', 'age': 99, 'id': 131, 'name': 'test', 'type': 3},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [36]:
cur.execute('''desc user''')

5

In [37]:
cur.fetchall()

[{'Default': None,
  'Extra': 'auto_increment',
  'Field': 'id',
  'Key': 'PRI',
  'Null': 'NO',
  'Type': 'int(11)'},
 {'Default': '',
  'Extra': '',
  'Field': 'name',
  'Key': '',
  'Null': 'NO',
  'Type': 'varchar(255)'},
 {'Default': '0',
  'Extra': '',
  'Field': 'age',
  'Key': '',
  'Null': 'NO',
  'Type': 'int(11)'},
 {'Default': '0',
  'Extra': '',
  'Field': 'type',
  'Key': 'MUL',
  'Null': 'NO',
  'Type': 'int(2)'},
 {'Default': None,
  'Extra': '',
  'Field': 'address',
  'Key': '',
  'Null': 'YES',
  'Type': 'varchar(255)'}]

- 创建连接
- 增删改查，update，delete，带着where 条件练
- `fetch*` 都要练习
- 字典游标，`DictCursor`, `from pymysql.cursors import DictCursor`

### 参数化查询

In [ ]:
cur.execute('''select * from user where age <= 18;''')

In [40]:
def get_juveniles(age=18):
    cur.execute('''select * from user where age <= {};'''.format(age))
    return cur.fetchall()

In [41]:
get_juveniles(18)

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [42]:
get_juveniles('18')

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [43]:
get_juveniles('18 or 1=1')

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 22, 'id': 124, 'name': 'magedu', 'type': 2},
 {'address': None, 'age': 25, 'id': 125, 'name': 'ck', 'type': 5},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 30, 'id': 127, 'name': '???', 'type': 3},
 {'address': None, 'age': 30, 'id': 128, 'name': '???', 'type': 6},
 {'address': None, 'age': 50, 'id': 129, 'name': '???', 'type': 2},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'US', 'age': 99, 'id': 131, 'name': 'test', 'type': 3},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [45]:
def get_juveniles(age=18):
    query = '''select * from user where age <= %s;'''
    cur.execute(query, age)
    return cur.fetchall()

In [46]:
get_juveniles()

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [47]:
get_juveniles('18 or 1=1')

/Users/miracleYoung/.pyenv/versions/3.6.1/envs/miracle_3.6/lib/python3.6/site-packages/pymysql/cursors.py:323: Warning: (1292, "Truncated incorrect DOUBLE value: '18 or 1=1'")
  self._do_get_result()

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [49]:
get_juveniles('sdfsf')

/Users/miracleYoung/.pyenv/versions/3.6.1/envs/miracle_3.6/lib/python3.6/site-packages/pymysql/cursors.py:323: Warning: (1292, "Truncated incorrect DOUBLE value: 'sdfsf'")
  self._do_get_result()

[{'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1}]

In [52]:
def get_juveniles(age=18):
    query = '''select * from user where age <= %(age)s;'''
    cur.execute(query, {'age': age})
    return cur.fetchall()

In [53]:
get_juveniles('18 or 1=1')

/Users/miracleYoung/.pyenv/versions/3.6.1/envs/miracle_3.6/lib/python3.6/site-packages/pymysql/cursors.py:323: Warning: (1292, "Truncated incorrect DOUBLE value: '18 or 1=1'")
  self._do_get_result()

[{'address': 'shanghai', 'age': 18, 'id': 1, 'name': 'miracle', 'type': 1},
 {'address': None, 'age': 18, 'id': 126, 'name': 'ziqi', 'type': 5},
 {'address': None, 'age': 0, 'id': 130, 'name': '???', 'type': 1},
 {'address': 'China', 'age': 18, 'id': 132, 'name': 'miracle', 'type': 5},
 {'address': 'China', 'age': 18, 'id': 133, 'name': 'miracle', 'type': 5},
 {'address': 'taiwan', 'age': 18, 'id': 134, 'name': 'ziqi', 'type': 5}]

In [58]:
name = 'miracle'

In [59]:
a = f'{name}'

In [60]:
a

'miracle'

In [62]:
with cur:
    cur.execute('''update user set age = 20 where name ='miracle'; ''')

In [63]:
conn.commit()

In [64]:
cur.execute('select 1')

ProgrammingError: Cursor closed

In [66]:
with conn as cur:
    cur.execute('''select 1''')

In [67]:
cur.fetchall()

((1,),)

In [68]:
cur.execute('select 1')

1

In [69]:
with conn as cur:
    with cur:
        cur.execute('select * from user limit 2;')

In [70]:
cur.fetchall()

((1, 'miracle', 20, 1, 'shanghai'), (124, 'magedu', 22, 2, None))

In [72]:
conn.ping()

In [73]:
packet = conn.ping()

In [74]:
packet

In [75]:
packet.server_status

0

In [76]:
packet.message

b''

In [77]:
conn.close()

In [81]:
conn= pymysql.connect(host='127.0.0.1', port=3306, user='root', password='', database='demo', cursorclass=DictCursor)

In [82]:
with conn as cur:
    with cur:
        cur.execute('select * from user;')
        print(cur.fetchall())

[{'id': 1, 'name': 'miracle', 'age': 20, 'type': 1, 'address': 'shanghai'}, {'id': 124, 'name': 'magedu', 'age': 22, 'type': 2, 'address': None}, {'id': 125, 'name': 'ck', 'age': 25, 'type': 5, 'address': None}, {'id': 126, 'name': 'ziqi', 'age': 18, 'type': 5, 'address': None}, {'id': 127, 'name': '???', 'age': 30, 'type': 3, 'address': None}, {'id': 128, 'name': '???', 'age': 30, 'type': 6, 'address': None}, {'id': 129, 'name': '???', 'age': 50, 'type': 2, 'address': None}, {'id': 130, 'name': '???', 'age': 0, 'type': 1, 'address': None}, {'id': 131, 'name': 'test', 'age': 99, 'type': 3, 'address': 'US'}, {'id': 132, 'name': 'miracle', 'age': 20, 'type': 5, 'address': 'China'}, {'id': 133, 'name': 'miracle', 'age': 20, 'type': 5, 'address': 'China'}, {'id': 134, 'name': 'ziqi', 'age': 18, 'type': 5, 'address': 'taiwan'}]

In [83]:
packet.message

b''

In [84]:
packet.server_status

0

In [89]:
from queue import Queue

class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._pool.put(self._connect())
    
    def _connect(self):
        # TODO 
        # 创建连接
        return pymysql.connect(*self.args, **self.kwargs)
    
    def _close(self, conn):
        conn.close()
    
    def get(self):
        return self._pool.get()
    
    def return_resource(self, conn):
        self._pool.put(conn)

In [90]:
cp = ConnectionPool(10, host='127.0.0.1', port=3306, user='root', password='', database='demo')

In [91]:
conn = cp.get()

In [92]:
with conn as cur:
    with cur:
        cur.execute('''select * from user;''')
        print(cur.fetchall())

((1, 'miracle', 20, 1, 'shanghai'), (124, 'magedu', 22, 2, None), (125, 'ck', 25, 5, None), (126, 'ziqi', 18, 5, None), (127, '???', 30, 3, None), (128, '???', 30, 6, None), (129, '???', 50, 2, None), (130, '???', 0, 1, None), (131, 'test', 99, 3, 'US'), (132, 'miracle', 20, 5, 'China'), (133, 'miracle', 20, 5, 'China'), (134, 'ziqi', 18, 5, 'taiwan'))

In [93]:
cp.return_resource(conn)

In [94]:
cp

In [95]:
conn

- 需要2个with
- return resource，并且return回来的这个连接，外部是不是还可以继续使用？

In [ ]:
from queue import Queue

class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._pool.put(self._connect())
            
    def __enter__(self):
        conn = self.get()
        return conn.cursor()
    
    def __exit__(self, *args):
        self.return_resource()
    
    def _connect(self):
        # TODO 
        # 创建连接
        return pymysql.connect(*self.args, **self.kwargs)
    
    def _close(self, conn):
        conn.close()
    
    def get(self):
        return self._pool.get()
    
    def return_resource(self, conn):
        self._pool.put(conn)

In [97]:
import threading

In [99]:
l = threading.local()

In [101]:
l.conn = 1

In [102]:
l.conn

1

In [109]:
getattr(l, 'conn')

1

In [106]:
from queue import Queue

class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._pool.put(self._connect())
            
        self.local = threading.local()
            
    def __enter__(self):
        try:
            return self.local.conn.cursor()
        except AttributeError:
            self.local.conn = self.get()
            return self.local.conn.cursor()
        
    
    def __exit__(self, *args):
        self.local.conn.commit()
        self.return_resource(self.local.conn)
        del self.local.conn
    
    def _connect(self):
        # TODO 
        # 创建连接
        return pymysql.connect(*self.args, **self.kwargs)
    
    def _close(self, conn):
        conn.close()
    
    def get(self):
        return self._pool.get()
    
    def return_resource(self, conn):
        self._pool.put(conn)

In [107]:
cp = ConnectionPool(10, host='127.0.0.1', port=3306, user='root', password='', database='demo')

In [110]:
with cp as cur:
    with cur:
        cur.execute('select * from user;')
        print(cur.fetchall())

((1, 'miracle', 20, 1, 'shanghai'), (124, 'magedu', 22, 2, None), (125, 'ck', 25, 5, None), (126, 'ziqi', 18, 5, None), (127, '???', 30, 3, None), (128, '???', 30, 6, None), (129, '???', 50, 2, None), (130, '???', 0, 1, None), (131, 'test', 99, 3, 'US'), (132, 'miracle', 20, 5, 'China'), (133, 'miracle', 20, 5, 'China'), (134, 'ziqi', 18, 5, 'taiwan'))

In [111]:
conn

In [112]:
c = conn.cursor()

In [114]:
c.connection.commit()

In [115]:
from queue import Queue

class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._pool.put(self._connect())
            
        self.local = threading.local()
            
    def __enter__(self):
        try:
            return self.local.cursor
        except AttributeError:
            self.local.cursor = self.get().cursor()
            return self.local.cursor
        
    
    def __exit__(self, *args):
        self.local.cursor.connection.commit()
        self.return_resource(self.local.cursor.connection)
        self.local.cursor.close()
        del self.local.cursor
    
    def _connect(self):
        # TODO 
        # 创建连接
        return pymysql.connect(*self.args, **self.kwargs)
    
    def _close(self, conn):
        conn.close()
    
    def get(self):
        return self._pool.get()
    
    def return_resource(self, conn):
        self._pool.put(conn)

In [116]:
cp = ConnectionPool(10, host='127.0.0.1', port=3306, user='root', password='', database='demo')

In [117]:
with cp as cur:
    threading.Thread(target=func, args=(, ))
    cur.execute('select * from user')
    print(cur.fetchall())

((1, 'miracle', 20, 1, 'shanghai'), (124, 'magedu', 22, 2, None), (125, 'ck', 25, 5, None), (126, 'ziqi', 18, 5, None), (127, '???', 30, 3, None), (128, '???', 30, 6, None), (129, '???', 50, 2, None), (130, '???', 0, 1, None), (131, 'test', 99, 3, 'US'), (132, 'miracle', 20, 5, 'China'), (133, 'miracle', 20, 5, 'China'), (134, 'ziqi', 18, 5, 'taiwan'))

In [118]:
cur.execute('select 1')

ProgrammingError: Cursor closed

In [119]:
from queue import Queue

class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        
        self._conns = []
        
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._conns.append(self._connect())
            self._pool.put(x)
            
        self.local = threading.local()
            
    def __enter__(self):
        try:
            return self.local.cursor
        except AttributeError:
            self.local.idx, self.local.cursor = self._get()
            return self.local.cursor
        
    
    def __exit__(self, *args):
        self.local.cursor.connection.commit()
        self.return_resource(self.local.idx)
        self.local.cursor.close()
        del self.local.cursor
        del self.local.idx
    
    def _connect(self):
        # TODO 
        # 创建连接
        return pymysql.connect(*self.args, **self.kwargs)
    
    def close(self):
        for conn in self._conns:
            conn.close()
    
    def _get(self):
        idx = sef._pool.get()
        return idx, self._conns[self._pool.get()]
    
    def return_resource(self, idx):
        self._pool.put(idx)

In [120]:
cp = ConnectionPool(10, host='127.0.0.1', port=3306, user='root', password='', database='demo')

In [121]:
cp.close()